/* ===========================
   FAMILY TREE
=========================== */

body{

    background:#F4F6F9;

    font-family:Segoe UI,Arial,sans-serif;

}

.page-header{

    background:#5E3A8C;

    color:white;

    padding:20px 40px;

}

.page-header h1{

    font-size:30px;

}

.tree-container{

    padding:50px;

    text-align:center;

}

.tree-container h2{

    color:#5E3A8C;

    margin-bottom:50px;

}

.tree{

    display:flex;

    justify-content:center;

    gap:120px;

    flex-wrap:wrap;

}

.member{

    background:white;

    width:220px;

    padding:25px;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

    transition:.3s;

}

.member:hover{

    transform:translateY(-8px);

}

.avatar{

    width:90px;

    height:90px;

    border-radius:50%;

    background:#7B4DB6;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    margin:auto;

    font-size:40px;

}

.member h3{

    margin-top:20px;

}
