*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Segoe UI,sans-serif;

}

body{

background:#F4F6F9;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.login-card{

width:430px;

background:white;

padding:45px;

border-radius:20px;

box-shadow:0 15px 40px rgba(0,0,0,.12);

}

.logo{

text-align:center;

margin-bottom:35px;

}

.logo i{

font-size:55px;

color:#7B4DB6;

}

.logo h1{

margin:15px 0;

}

.input-box{

display:flex;

align-items:center;

background:#f2f2f2;

padding:15px;

border-radius:10px;

margin-bottom:20px;

}

.input-box input{

border:none;

outline:none;

background:none;

width:100%;

margin-left:12px;

font-size:16px;

}

.options{

display:flex;

justify-content:space-between;

margin-bottom:25px;

font-size:14px;

}

button{

width:100%;

padding:15px;

background:#7B4DB6;

border:none;

color:white;

border-radius:10px;

font-size:17px;

cursor:pointer;

margin-bottom:15px;

}

.google{

background:white;

color:#333;

border:1px solid #ddd;

}

.divider{

text-align:center;

margin:15px 0;

font-weight:bold;

}

.register{

text-align:center;

margin-top:20px;

}
