body{

background:#F4F6F9;

}

.page-header{

display:flex;

justify-content:space-between;

align-items:center;

padding:40px 8%;

}

.page-header h1{

color:#5E3A8C;

}

.add-btn{

background:#7B4DB6;

color:white;

border:none;

padding:14px 25px;

border-radius:10px;

cursor:pointer;

font-size:16px;

}

.search-area{

padding:0 8% 40px;

display:flex;

gap:15px;

}

.search-area input{

flex:1;

padding:15px;

border:1px solid #ccc;

border-radius:10px;

font-size:16px;

}

.search-area button{

background:#5E3A8C;

color:white;

border:none;

padding:15px 25px;

border-radius:10px;

cursor:pointer;

}

.members-grid{

padding:0 8% 60px;

display:grid;

grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

gap:25px;

}

.member-card{

background:white;

border-radius:20px;

padding:30px;

text-align:center;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.3s;

}

.member-card:hover{

transform:translateY(-8px);

}

.avatar{

width:90px;

height:90px;

background:#7B4DB6;

color:white;

margin:auto;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

font-size:35px;

margin-bottom:20px;

}

.actions{

display:flex;

justify-content:center;

gap:10px;

margin-top:20px;

}

.actions button{

padding:10px 18px;

border:none;

border-radius:8px;

cursor:pointer;

color:white;

}

.view{

background:#3498db;

}

.edit{

background:#f39c12;

}

.delete{

background:#e74c3c;

}
